aliases:
  - &restore_sbt_cache
    key: sbt-cache-{{ checksum "/tmp/scala_version" }}

  - &save_sbt_cache
    key: sbt-cache-{{ checksum "/tmp/scala_version" }}-{{ epoch }}
    paths:
      - "~/.ivy2/cache"
      - "~/.sbt"
      - "~/.cache/coursier"

  - &run_cibuild
    - checkout
    - run: echo "${SCALA_VERSION}" > /tmp/scala_version
    - restore_cache: *restore_sbt_cache
    - run:
        name: Executing cibuild
        command: ./scripts/cibuild
    - save_cache: *save_sbt_cache

  - &run_cipublish
    - checkout
    - run: echo "${SCALA_VERSION}" > /tmp/scala_version
    - restore_cache: *restore_sbt_cache
    - run:
        name: "Import signing key"
        command: |
          echo "${GPG_KEY}" | base64 -d > signing_key.asc && \
          gpg --batch \
            --passphrase "${GPG_PASSPHRASE}" \
            --import signing_key.asc
    - run:
        name: Executing cipublish
        command: ./scripts/cipublish

  # Build environments
  - &openjdk8-scala2_11_12-nodelts_environment
    docker:
      - image: circleci/openjdk:8-stretch-node
    environment:
      SCALA_VERSION: 2.11.12

  - &openjdk8-scala2_12_8-nodelts_environment
    docker:
      - image: circleci/openjdk:8-stretch-node
    environment:
      SCALA_VERSION: 2.12.8

version: 2
workflows:
  version: 2
  build:
    jobs:
      - "openjdk8-scala2.11.12-nodelts"
      - "openjdk8-scala2.12.8-nodelts"
      - "openjdk8-scala2.11.12-nodelts_deploy":
          requires:
            - "openjdk8-scala2.11.12-nodelts"
          filters:
           tags:
              only:
                - /^(.*)$/
            branches:
              only:
                - develop
                - feature/jrb/automated-releases-to-sonatype
      - "openjdk8-scala2.12.8-nodelts_deploy":
          requires:
            - "openjdk8-scala2.12.8-nodelts"
          filters:
            tags:
              only:
                - /^(.*)$/
            branches:
              only:
                - develop
                - feature/jrb/automated-releases-to-sonatype

jobs:
  "openjdk8-scala2.11.12-nodelts":
    <<: *openjdk8-scala2_11_12-nodelts_environment
    steps: *run_cibuild

  "openjdk8-scala2.12.8-nodelts":
    <<: *openjdk8-scala2_12_8-nodelts_environment
    steps: *run_cibuild

  "openjdk8-scala2.11.12-nodelts_deploy":
    <<: *openjdk8-scala2_11_12-nodelts_environment
    steps: *run_cipublish

  "openjdk8-scala2.12.8-nodelts_deploy":
    <<: *openjdk8-scala2_12_8-nodelts_environment
    steps: *run_cipublish
